version: ~> 1.0
dist: xenial
os: linux
language: java

cache:
  directories:
    - ~/.m2

branches:
  only:
    - master

install:
  - ""

jobs:
  fast_finish: true
  include:
    # unit tests (openjdk8)
    - jdk: openjdk8
      env:
        - DESC="tests and deploy"
        - CMD="mvn clean integration-test failsafe:verify"
        - DEPLOY="true"

    # checkstyle (openjdk8)
    - jdk: openjdk8
      env:
        - DESC="checkstyle and sevntu-checkstyle"
        - CMD="mvn clean verify -DskipTests -Dpmd.skip=true -Dfindbugs.skip=true -Dcobertura.skip=true"

    # cobertura and codecov (openjdk8)
    - jdk: openjdk8
      env:
        - DESC="cobertura and codecov"
        - CMD="mvn clean compile cobertura:check cobertura:cobertura"

    # findbugs and pmd (openjdk8)
    - jdk: openjdk8
      env:
        - DESC="findbugs and pmd"
        - CMD="mvn clean compile pmd:check findbugs:check"

    # checkstyle injection compile no error (openjdk8)
    - jdk: openjdk8
      env:
        - DESC="checkstyle injection compile no error"
        - CMD1="git clone https://github.com/checkstyle/checkstyle &&"
        - CMD2="cp src/main/resources/com/github/checkstyle/regression/extract/ExtractInfoGeneratorTest.java "
        - CMD3="checkstyle/src/test/java/com/puppycrawl/tools/checkstyle/ExtractInfoGeneratorTest.java &&"
        - CMD4="cp src/main/resources/com/github/checkstyle/regression/extract/JsonUtil.java "
        - CMD5="checkstyle/src/test/java/com/puppycrawl/tools/checkstyle/JsonUtil.java &&"
        - CMD6="cd checkstyle &&"
        - CMD7="mvn clean compile &&"
        - CMD8="mvn test -Dtest=ExtractInfoGeneratorTest#generateExtractInfoFile"
        - CMD="$CMD1$CMD2$CMD3$CMD4$CMD5$CMD6$CMD7$CMD8"

    # package no error (openjdk8)
    - jdk: openjdk8
      env:
        - DESC="package no error"
        - CMD="mvn clean package -Passembly"

    # checkstyle regression no exception on latest commit (openjdk8)
    - jdk: openjdk8
      env:
        - DESC="checkstyle regression no exception on latest commit"
        - CMD="./.ci/travis/checkstyle_regression_no_exception.sh HEAD HEAD^"

    # disabled till https://github.com/checkstyle/regression-tool/issues/101
    # checkstyle regression no exception, changes to check (openjdk8)
    #- jdk: openjdk8
    #  env:
    #    - DESC="checkstyle regression no exception, changes to check"
    #    - CMD="./.ci/travis/checkstyle_regression_no_exception.sh eae1de6 5df457c 8.11-SNAPSHOT"

script: |
  echo $CMD
  eval $CMD

after_success:
  -
